
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #FFF;
  margin: 0 auto;
 height: 100%;
position:absolute;
}

header {
  background-color: #466995;
  border-bottom: 1px solid #466995;
}
.container
{
  width: auto;
  heigth:auto;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: 1px solid grey;
}
.lineleft {
  width: 30px;
  margin-top: 30px;
  border-bottom: solid 2px rgb(204, 211, 255);
  display:inline-block
  margin-right: 36px;
}
.lineright {
  width: 30px;
  border-bottom: solid 2px rgb(204, 211, 255);
  display:inline-block
  margin-left: 31px;
  position: absolute;
  right: 0px;
}
.welcome{
  width: auto;
  margin: 0px 30px 0px 30px;
  padding-top: 70px;
}
.data{
  height: 36px; 
  text-align: center;
  margin: 0px 0px 20px 0px;
  display:inline-block
  right: 50px;
}

.text{
  width: auto;
  height: auto; 
  margin:0px 30px 0px 30px;
  overflow-x: scroll;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  font-family: Comfortaa;
  clear: left;
}
img{
  width: auto;
  max-height: 64px; 
}
h1 {
  font-size: 24px;
  font-family: Comfortaa;
  text-align: center;
  color:rgb(75, 94, 127);
  font-weight: 300;
}

h2 {
  text-align: center;
  font-size: 14px;
  font-weight: 100;
  color:rgb(140, 142, 152);
  font-family: Comfortaa;
}

h3 {
  color:rgb(75, 94, 127);
  font-size: 18px;
  font-weight: 700;
  font-family: 'Comfortaa';
  margin:5px 30px 5px 30px;
}
p {
  font-size: 12px;
  font-family: 'Comfortaa';
  margin:0px 30px 0px 30px;
  color:rgb(140, 142, 152);
}


