
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #FFF;
  margin: 0 auto;
 height: 100%;
position:absolute;
}

header {
  background-color: #466995;
  border-bottom: 1px solid #466995;
}
.container
{
  width: auto;
  heigth:auto;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}
.lineLeft {
  width: 30px;
  border-bottom: solid 2px rgb(204, 211, 255);
  display:inline; 
  position: absolute;
  margin: 10px 36px 0px 0px;
}
.lineRight {
 width: 30px;
 border-bottom: solid 2px rgb(204, 211, 255);
 display:inline;;
 position: absolute;
 right: 0px;
 margin: 4px 0px 0px 31px;
}
.welcome{
  width: auto;
  margin: 20px 30px 20px 30px;
}
.data{
  height: auto; 
  text-align: center;
  display:inline;
 

}

.text{
  width: auto;
  height: auto; 
  margin:20px 30px 0px 30px;
  overflow-x: scroll;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  font-family: Comfortaa;
  clear: left;
}
h1 {
  font-size: 24px;
  font-family: Comfortaa;
  text-align: center;
  color:rgb(75, 94, 127);
  font-weight: 300;
}

h2 {
  text-align: center;
  font-size: 14px;
  color:rgb(140, 142, 152);
  font-family: Comfortaa;
  font-weight: 400;
}

h3 {
  color:rgb(75, 94, 127);
  font-size: 18px;
  font-family: 'Comfortaa';
  margin:9px 0px 9px 0px;
  font-weight: 400;
}
p {
  font-size: 12px;
  font-family: 'Comfortaa';
  color:rgb(140, 142, 152);
  font-weight: 400;
}


